{% load static %}
<div class="card card-table mb-0">
    <div class="card-body">
        <h3 class="p-2">Patient Info</h3>
        <div class="doctor-widget">
            <div class="doc-info-left">
                <div class="doctor-img">
                  {% if appointment.patient.profile_url %}
                  <img src="/media/{{  appointment.patient.profile_url }}" class="img-fluid"
                        alt="User Image">
                  {% else %}
                    <img src="{% static 'assets/img/no_img.jpg' %}" class="img-fluid"
                        alt="User Image">
                        {% endif %}
                </div>
                <div class="doc-info-cont">
                    <h4 class="doc-name">{{  appointment.patient.first_name }} {{  appointment.patient.last_name }}</h4>
                    
                    <div class="clinic-details">
                        <p class="doc-location"><i class="fas fa-phone"></i> 0{{  appointment.patient.phone }}</p>
                        {% comment %} <p class="doc-location"><i class="fas fa-map-marker-alt"></i> {{  appointment.patient.location }}</p> {% endcomment %}

                        Booked Service: <span class="text-fw-fw-bolder">{{  appointment.doctor.speciality }}</span> <br>
                        Service price:<span class="text-fw-bolder"> Ksh.{{  appointment.doctor.meta.service_price }}</span> per 30 mins
                       
                    </div>
                    
                </div>
            </div>
            <div class="doc-info-right">
                <div class="clini-infos">
                    <ul>
                        <li>
                            Appointment Status: <br>
                            <span class="badge rounded-pill {% if appointment.status == 'Visited' %}bg-success-light{% elif appointment.status == 'Pending' %}bg-info-light{% elif appointment.status == 'Scheduled' %}bg-primary-light{% endif %}">{{ appointment.status }}</span>
                        </li>
                        <li>
                            {{ appointment.date|date:"d M Y" }} <span class="d-block text-info">{{ appointment.appointment_time }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body">
        <h3 class="p-2">
            Remarks
        </h3>
        <p>{{ appointment.remarks }}</p>
        <hr>
        <div class="doctor-widget mt-2">
            <form action="{% url 'patients_remarks' appointment.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-12">
                    <label>Add Remarks for the patient</label>
            <textarea required name="remarks" id="remarks" class="form-control" placeholder="Enter the final patient remarks" rows="5">{% if appointment.remarks %}{{appointment.remarks}}{%endif%}</textarea>
                </div>
            <button id="submitBtn" class="btn btn-primary mt-2" type="submit">Submit</button>


        </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('submitBtn').addEventListener('click', function(event) {
        var remarksTextarea = document.getElementById('remarks');
        remarksTextarea.value = remarksTextarea.value.trim();
    });
</script>
