{% load static %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
        <div class="card">
            <div class="card-body text-center">
                <h5>Scheduled Appointments</h5>
                <h2>{{ total_appointments.total_appointments }}</h2>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
        <div class="card">
            <div class="card-body text-center">
                <h5>Attended Appointments</h5>
                <h2>0</h2>
            </div>
        </div>
    </div>
    
</div>