{% extends 'base.html' %} 
{% load static %} 
{% block title %}{{title}} - Predictive symptoms{% endblock %} {% block content %} 

{% include 'frontend/partials/bc.html' %}

<section class="why-choose-section">
    <div class="container">
        
        <div class="row mt-3">
            <div class="col-lg-3 col-md-6 d-flex">
                <div class="card why-choose-card w-100">
                    <div class="card-body">
                        
                        <div class="why-choose-content">
                            <h4>Gastroenterology</h4>
                            <p class="text-muted">JKUAT Hospital's gastroenterology department provides expert care for digestive system disorders. They offer diagnostic procedures and specialized treatments, focusing on conditions like gastrointestinal infections, inflammatory bowel diseases, and liver disorders, ensuring thorough and effective care for patients' digestive health needs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
                <div class="card why-choose-card w-100">
                    <div class="card-body">
                        
                        <div class="why-choose-content">
                            <h4>Pulmonogy</h4>
                            <p class="text-muted">JKUAT Hospital's pulmonology department focuses on respiratory health, offering diagnostics, treatments, and management for conditions like asthma, COPD, pneumonia, and other lung disorders. Their specialized services include tests and personalized care plans, ensuring effective support for patients' respiratory needs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
                <div class="card why-choose-card w-100">
                    <div class="card-body">
                        
                        <div class="why-choose-content">
                            <h4>Dentistry Services</h4>
                            <p class="text-muted">JKUAT Hospital's dental services encompass routine check-ups, cleanings, fillings, root canals, extractions, oral surgery, orthodontics, periodontics, prosthodontics, and cosmetic dentistry. Their expert team utilizes modern equipment to deliver high-quality oral care in a welcoming environment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
                <div class="card why-choose-card w-100">
                    <div class="card-body">
                        
                        <div class="why-choose-content">
                            <h4>Mental Health</h4>
                            <p class="text-muted">JKUAT Hospital offers personalized mental health services, including counseling, psychotherapy, and psychiatric evaluations. Their experienced team provides support for various conditions like anxiety, depression and PTSD, focusing on improving patients' well-being through compassionate care and tailored treatment plans.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex">
                <div class="card why-choose-card w-100">
                    <div class="card-body">
                        
                        <div class="why-choose-content">
                            <h4>Nutrition</h4>
                            <p class="text-muted">JKUAT Hospital offers personalized nutrition services, including dietary assessments, meal planning, and nutritional counseling. Their expert team focuses on supporting individual health needs through tailored guidance on healthy eating habits and lifestyle choices.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}