{% extends 'base.html' %} 
{% load static %} 
{% block title %} {{title}} - Predictive symptoms{% endblock %} 
{% block content %}

<div class="content">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        {% include 'frontend/partials/sidenav.html' %}
      </div>
      <div class="col-md-7 col-lg-8 col-xl-9">
        {% if error_message %}
          <p>{{ error_message }}</p>
        {% else %}
        {% if appointment %}
        {% include 'frontend/partials/messages.html' %}
        {% if request.user.role_id == 1 %}
            {% include 'frontend/partials/pages/user/appointment_doc.html' %}
        {% else %}
            {% include 'frontend/partials/pages/user/appointment.html' %}
        {% endif %}
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
